In [1]:
import re

## section 1

### extract phone number

In [124]:
chat1 = 'codebasics: you ask lot of questions ðŸ˜   1235678912, abcA@xyz.com'
chat2 = 'codebasics: here it is: (123)-567-8912, abX_82@xyz.com'
chat3 = 'codebasics: yes, phone: 1235678912 email: abc@xyz.com'

In [125]:
pattern= '\d{10}|\(\d{3}\)-\d{3}-\d{4}'

a= re.findall(pattern,chat1)
a

['1235678912']

In [96]:
def get_pattern_match(pattern, text):
    matches = re.findall(pattern, text)
    if matches:
        return matches[0]

In [100]:
get_pattern_match('\d{10}|\(\d{3}\)-\d{3}-\d{4}',chat1)

'1235678912'

In [101]:
get_pattern_match('\d{10}|\(\d{3}\)-\d{3}-\d{4}', chat2)

'(123)-567-8912'

In [103]:
get_pattern_match('\d{10}|\(\d{3}\)-\d{3}-\d{4}', chat3)

'1235678912'

### extract emails

In [104]:
pattern= '[a-z0-9A-Z_]*@[a-z0-9A-Z]*\.[a-zA-Z]*'

b= re.findall(pattern,chat1)
email= b[0]
email

'abcA@xyz.com'

In [105]:
get_pattern_match('[a-zA-Z0-9_]*@[a-z]*\.[a-zA-Z0-9]*',chat1)

'abcA@xyz.com'

In [106]:
get_pattern_match('[a-zA-Z0-9_]*@[a-z]*\.[a-zA-Z0-9]*',chat2)

'abX_82@xyz.com'

In [107]:
get_pattern_match('[a-zA-Z0-9_]*@[a-z]*\.[a-zA-Z0-9]*',chat3)

'abc@xyz.com'

### extract order number only

In [117]:
chat1='codebasics: Hello, I am having an issue with my order # 412889912'
chat2='codebasics: I have a problem with my order number 55555555'
chat3='codebasics: My order 41888888 is having an issue, I was charged 300$ when online it says 280$'

In [118]:
pattern= 'order[^\d]*(\d*)'

a= re.findall(pattern,chat1)
a

['412889912']

In [119]:
get_pattern_match('order[^\d]*(\d*)', chat1)

'412889912'

In [120]:
get_pattern_match('order[^\d]*(\d*)', chat2)

'55555555'

In [121]:
get_pattern_match('order[^\d]*(\d*)', chat3)

'41888888'

## section 2

### information extraction

In [23]:
text='''
Born	Elon Reeve Musk
June 28, 1971 (age 50)
Pretoria, Transvaal, South Africa
Citizenship	
South Africa (1971â€“present)
Canada (1971â€“present)
United States (2002â€“present)
Education	University of Pennsylvania (BS, BA)
Title	
Founder, CEO and Chief Engineer of SpaceX
CEO and product architect of Tesla, Inc.
Founder of The Boring Company and X.com (now part of PayPal)
Co-founder of Neuralink, OpenAI, and Zip2
Spouse(s)	
Justine Wilson
â€‹
â€‹(m. 2000; div. 2008)â€‹
Talulah Riley
â€‹
â€‹(m. 2010; div. 2012)â€‹
â€‹
â€‹(m. 2013; div. 2016)
'''

In [50]:
pattern= 'age (\d+)'

a= re.findall(pattern,text)
a

['50']

In [34]:
pattern= 'Born(.*)\n'

a=re.findall(pattern,text)
a[0].strip() #remove whitespaces by strip

'Elon Reeve Musk'

In [46]:
pattern= 'Born.*\n(.*)\(age.\d*\)'

a= re.findall(pattern,text)
a

['June 28, 1971 ']

In [42]:
pattern= '\(age.*\n(.*)'

a= re.findall(pattern,text)
a

['Pretoria, Transvaal, South Africa']

In [44]:
#extract using a user define function
def get_pattern_match(pattern, text):
    matches = re.findall(pattern, text)
    if matches:
        return matches[0]

In [47]:
get_pattern_match('\(age.*\n(.*)',text) #replace pattern with regex expression

'Pretoria, Transvaal, South Africa'

In [54]:
#extract using a user define function
def extract_personal_information(text):
    age = get_pattern_match('age (\d+)', text)
    full_name = get_pattern_match('Born(.*)\n', text)
    birth_date = get_pattern_match('Born.*\n(.*)\(age', text)
    birth_place = get_pattern_match('\(age.*\n(.*)', text)
    return {
        'age': int(age),
        'name': full_name.strip(),
        'birth_date': birth_date.strip(),
        'birth_place': birth_place.strip()
    }

In [56]:
extract_personal_information(text)

{'age': 50,
 'name': 'Elon Reeve Musk',
 'birth_date': 'June 28, 1971',
 'birth_place': 'Pretoria, Transvaal, South Africa'}

In [60]:
text1 = '''
Born	Mukesh Dhirubhai Ambani
19 April 1957 (age 64)
Aden, Colony of Aden
(present-day Yemen)[1][2]
Nationality	Indian
Alma mater	
St. Xavier's College, Mumbai
Institute of Chemical Technology (B.E.)
Stanford University (drop-out)
Occupation	Chairman and MD, Reliance Industries
Spouse(s)	Nita Ambani â€‹(m. 1985)â€‹[3]
Children	3
Parent(s)	
Dhirubhai Ambani (father)
Kokilaben Ambani (mother)
Relatives	Anil Ambani (brother)
Tina Ambani (sister-in-law)
'''

In [68]:
extract_personal_information(text1)

{'age': 64,
 'name': 'Mukesh Dhirubhai Ambani',
 'birth_date': '19 April 1957',
 'birth_place': 'Aden, Colony of Aden'}